api/node_modules/
api/*.log
api/npm-debug.log*
api/.npm
api/.eslintcache
api/logs
api/yarn-debug.log*
api/yarn-error.log*
api/.env
auth_api/.cache
auth_api/node_modules/
auth_api/*.log
auth_api/npm-debug.log*
auth_api/.npm
auth_api/.eslintcache
auth_api/logs
auth_api/yarn-debug.log*
auth_api/yarn-error.log*
auth_api/.env
auth_api/.cache
mariadb_data/
auth_mariadb_data/
.vscode/